@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
 a:link:hover { 
  text-decoration: none; 
} 
*{
  margin:0;padding:0;
}
html,body{ 

  background:#111;

  margin:0;padding:0;
}

html{
  background-color: black;
  
}
.content{
  position:absolute;right:10vw;
  top:10%;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;}
  
.head-part{
  position: relative;
}
.navbar{
  height:8vh;
  color:white;
  position:sticky;
}
  .navbar-toggler
  {position:absolute;
    right:5vh;
  }



/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.pics{
  padding:10px ;
}
.footer{ 
  padding:5vh;
  padding-bottom: 0;
  border-top:1px solid grey;
  font-size: 4vh;
  position: relative;
}
.main{
  
  font-size:5vh;
  position: relative;
  
}

.main .text-center{
  padding:5vh;
  font-family:'Baloo Tamma 2', cursive;
  font-size: 7vh;
  text-shadow:0 0 2px  #111;
}
.main .card{
  padding:10px;margin:5px;
  position: relative;
   height: auto;
  
}